<%= render "shared/navbar" %>

<div class="container-md my-3">

  <div class="card p-3">

    <h2 class="fw-bold"><%= @user.first_name %>'s Personal Infos</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true, input_html: {class: "custom-input"}%>
        <hr/>
        <%= f.input :last_name, required: true, autofocus: true, input_html: {class: "custom-input"}%>
        <hr/>
        <%= f.input :description, as: :text, input_html: { rows: 4, class: 'custom-input' } %>
          <hr/>
        <%= f.input :location, autofocus: true, input_html: {class: "custom-input"} %>
        <hr/>
        <%= f.input :email, required: true, autofocus: true, input_html: {class: "custom-input"} %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <hr/>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: 'submit-button w-100'%>
      </div>
    <% end %>

  </div>

  <div>

  <br>

  <h3 class="fw-bold form-header">My bookings</h3>

  <% if @user.bookings.length > 0 %>

    <p class="form-text">You have: <%= @user.bookings.length %> bookings</p>

    <div class="listing-card-container">
      <% @user.bookings.each do |booking| %>
        <div class="listing_item">
          <%= link_to listing_path(booking.listing), class: "listing-item_link" do %>
            <div class="listing-item_image" style="background-image: url(<%= booking.listing.photo.attached? ? url_for(booking.listing.photo) : 'https://cdn.discordapp.com/attachments/1105433122998325278/1108988901743398973/niklas_hyperrealistic_photo_portrait_closeup_Persona_3_The_Movi_a65c3693-4478-47ad-8309-db540c3efa5d.png' %>)">
              <div class="listing-item_bg"></div>
            </div>
            <div class="listing-item_content">
              <div class="listing-item_title">
                <%= booking.listing.title %>
              </div>
              <div class="listing-item_body">
                <%= booking.listing.description %>
              </div>
              <div class="listing-item_detail">
                <i class="fas fa-duotone fa-calendar"></i>
                <span class="listing-item_price"><%= booking.date %></span>
              </div>
              <div class="listing-item_detail">
                <i class="fas fa-map-marker-alt"></i>
                <span class="listing-item_location"><%= booking.listing.location %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="form-text">You have no bookings yet</p>
  <% end %>

  </div>
</div>
