<div class="container-md">

  <div class="card p-3">

    <h2 class="fw-bold">Personal <%= @user.first_name %> infos</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <hr/>
        <%= f.input :last_name, required: true, autofocus: true %>
        <hr/>
        <%= f.input :location, autofocus: true %>
        <hr/>
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <hr/>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: 'submit-button w-100'%>
      </div>
    <% end %>

  </div>

  <div>

    <h3 class="fw-bold">My bookings</h3>

    <% if @bookings %>

      <p>You have: <%= @bookings.length %> bookings</p>

      <% @bookings.each do |booking| %>
        <div>
        </div>
      <% end %>

    <% else %>

      <p>You have no bookings yet</p>

    <% end %>

  </div>

</div>
