<div data-controller="edit-profile" class="position-relative">
  <%= render "shared/navbar" %>
  <div class="container-md my-3 d-flex flex-column align-items-end gap-3 position-relative">
    <div class="card p-3 w-100 rounded-2">
      <h2 class="fw-bold m-0 p-0"><%= @user.first_name %>'s Personal Infos</h2>
    </div>
    <div class="card p-3 w-100 rounded-2">
      <h3 class="fw-bold form-header">My bookings</h3>
      <% if @user.bookings.length > 0 %>
        <p class="form-text">You have: <%= @user.bookings.length %> bookings</p>
        <div class="listing-card-container">
          <% @user.bookings.each do |booking| %>
            <div class="listing_item">
              <%= link_to listing_path(booking.listing), class: "listing-item_link" do %>
                <div class="listing-item_image" style="background-image: url(<%= booking.listing.photo.attached? ? url_for(booking.listing.photo) : 'https://cdn.discordapp.com/attachments/1105433122998325278/1108988901743398973/niklas_hyperrealistic_photo_portrait_closeup_Persona_3_The_Movi_a65c3693-4478-47ad-8309-db540c3efa5d.png' %>)">
                  <div class="listing-item_bg"></div>
                </div>
                <div class="listing-item_content">
                  <div class="listing-item_title">
                    <%= booking.listing.title %>
                  </div>
                  <div class="listing-item_body">
                    <%= booking.listing.description %>
                  </div>
                  <div class="listing-item_detail">
                    <i class="fas fa-duotone fa-calendar"></i>
                    <span class="listing-item_price"><%= booking.date %></span>
                  </div>
                  <div class="listing-item_detail">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="listing-item_location"><%= booking.listing.location %></span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="form-text">You have no bookings yet</p>
      <% end %>
      <%= link_to 'Make a new booking', '/', class: 'submit-button w-100' %>
    </div>
    <div class="card p-3 w-100 rounded-2">
      <h3 class="fw-bold form-header">My Listings</h3>
      <% if @user.listings.length > 0 %>
        <p class="form-text">You have: <%= @user.listings.length %> listings</p>
        <div class="listing-card-container">
          <% @user.listings.each do |listing| %>
            <div class="listing_item">
              <%= link_to listing_path(listing), class: "listing-item_link" do %>
                <div class="listing-item_image" style="background-image: url(<%= listing.photo.attached? ? url_for(listing.photo) : 'https://cdn.discordapp.com/attachments/1105433122998325278/1108988901743398973/niklas_hyperrealistic_photo_portrait_closeup_Persona_3_The_Movi_a65c3693-4478-47ad-8309-db540c3efa5d.png' %>)">
                  <div class="listing-item_bg"></div>
                </div>
                <div class="listing-item_content">
                  <div class="listing-item_title">
                    <%= listing.title %>
                  </div>
                  <div class="listing-item_body">
                    <%= listing.description %>
                  </div>
                  <div class="listing-item_detail">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="listing-item_location"><%= listing.location %></span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="form-text">You have no listings yet</p>
      <% end %>
      <%= link_to 'Create a new listing', new_listing_path, class: 'submit-button w-100' %>
    </div>
    <div class="card p-3 w-100 rounded-2">
    <button class="float-button-user-edit" data-action="click->edit-profile#toggle">
      Edit profile
    </button>
    </div>
  </div>
  <div data-edit-profile-target="togglableElement" data-action="click->edit-profile#toggle" class="d-none edit-profile-pop-up">
    <div class="container-me card p-3 radius">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true, input_html: {class: "custom-input"}%>
          <hr/>
          <%= f.input :last_name, required: true, autofocus: true, input_html: {class: "custom-input"}%>
          <hr/>
          <%= f.input :description, as: :text, input_html: { rows: 4, class: 'custom-input' } %>
          <hr/>
          <%= f.input :location, autofocus: true, input_html: {class: "custom-input"} %>
          <hr/>
          <%= f.input :email, required: true, autofocus: true, input_html: {class: "custom-input"} %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <hr/>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: 'update-button w-100'%>
          <button class='cancel-button w-100 btn-danger' data-action="click->edit-profile#toggle">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
