<%= render "shared/navbar" %>
<div class="container my-5">
  <div class="row" data-controller="booking">
    <div class="col-lg-6">

      <div class="show-listing_item">
        <%= link_to @listing, class: "show-listing-item_link" do %>
          <div class="show-listing-item_content">
            <div class="show-listing-item_title">
              <%= @listing.title %>
            </div>

            <br>

          <div class="show-listing-item_image" style="background-image: url(<%= @listing.photo.attached? ? url_for(@listing.photo) : 'https://cdn.discordapp.com/attachments/1105433122998325278/1108988901743398973/niklas_hyperrealistic_photo_portrait_closeup_Persona_3_The_Movi_a65c3693-4478-47ad-8309-db540c3efa5d.png' %>)">
            <div class="show-listing-item_bg"></div>
          </div>

          <br>

            <div class="show-listing-item_detail">
              <i class="fas fa-euro-sign"></i>
              <span data-booking-target="price" class="show-listing-item_price"><%= @listing.price %></span>
            </div>

            <div class="show-listing-item_detail">
              <i class="fas fa-map-marker-alt"></i>
              <span class="show-listing-item_location"><%= @listing.location %></span>
            </div>
            
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="booking-card">
        <div class="card-body text-start">
          <h5 class="card-title text-center">Booking Summary</h5>
          <div class="section-divider"></div>
          <%= simple_form_for [@listing, @booking] do |f| %>
            <%= f.date_field :date, input_html: {class: "date-input"} %>
            <br><br>
            <%= f.input :request, input_html: { rows: "2;", class: "custom-input" } %>
            <%= f.input :duration, label: "Duration (h)", collection: 1..10, input_html: { class: "custom-input",data: { action: "input->booking#updateTotal", booking_target: "duration" } } %>
            <div class="section-divider"></div>
            <p class="card-text text-start">Total Price: <span data-booking-target="totalPrice"><%= @listing.price %>€</span></p>
            <%= f.submit "Confirm Booking", class: "confirm-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="section-card">
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="d-flex align-items-start">
          <span>
            <i class="fa-solid fa-film fa-2x"></i>
          </span>
          <h2 class="ms-4 mb-0">About This Listing</h2>
        </div>
        <br>
        <p><%= @listing.description %></p>
      </div>
    </div>
  </div>

  <div class="section-card">
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="d-flex align-items-start">
          <span>
            <i class="fa-solid fa-film fa-2x"></i>
          </span>
          <h2 class="ms-4 mb-0">About <%= @user.first_name %></h2>
        </div>
        <br>
        <p><%= @user.description %></p>
      </div>
    </div>
  </div>

  <div class="section-card">
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row mt-4">
          <div class="col-lg-12">
            <div class="d-flex align-items-start">
              <span>
                <i class="fa-solid fa-film fa-2x"></i>
              </span>
              <h2 class="ms-4 mb-0">Other Listings by <%= @user.first_name %></h2>
            </div>
            <div class="listing-card-container mt-4">
              <% @listings.each do |listing| %>
                <div class="listing_item">
                  <%= link_to listing_path(listing), class: "listing-item_link" do %>
                    <div class="listing-item_image" style="background-image: url(<%= listing.photo.attached? ? url_for(listing.photo) : 'https://cdn.discordapp.com/attachments/1105433122998325278/1108988901743398973/niklas_hyperrealistic_photo_portrait_closeup_Persona_3_The_Movi_a65c3693-4478-47ad-8309-db540c3efa5d.png' %>)">
                      <div class="listing-item_bg"></div>
                    </div>
                    <div class="listing-item_content">
                      <div class="listing-item_title">
                        <%= listing.title %>
                      </div>
                      <div class="listing-item_body">
                        <%= listing.description %>
                      </div>
                      <div class="listing-item_detail">
                        <i class="fas fa-euro-sign"></i>
                        <span class="listing-item_price"><%= listing.price %></span>
                      </div>
                      <div class="listing-item_detail">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="listing-item_location"><%= listing.location %></span>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
