<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-3 sticky-top">
  <div class="container container-fluid">
    <%= link_to listings_path, class: "navbar-brand bg-dark rounded-circle p-1 ms-4" do %>
      <%= image_tag "https://cdn.discordapp.com/attachments/1105433122998325278/1113050154845605941/moviemate-28893-0-removebg-preview.png" %>
    <% end %>
    <%= render "shared/search_bar" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul style="width: 150px; min-height: 45px" class="navbar-nav d-flex gap-3 align-items-center justify-content-between me-auto bg-white rounded-pill px-3 py-1" data-controller="open-menu">
          <li class="position-relative">
            <a data-open-menu-target="button" data-action="click->open-menu#openMenu" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="menu">
              <span class="menu__line"></span>
              <span class="menu__line"></span>
              <span class="menu__line"></span>
            </a>
            <nav data-open-menu-target="nav" class="nav js-nav">
              <ul data-open-menu-target="list" class="nav__list js-nav__list">
                <li class="nav__item">
                  <%= link_to "Profile", edit_user_registration_path, class: "nav__link" %>
                </li>
                <li class="nav__item">
                  <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav__link" %>
                </li>
              </ul>
            </nav>
          </li>
          <li>
            <% if current_user.photo.present? %>
              <%= image_tag  current_user.photo, class: "avatar-bordered", alt: "User image" %>
            <% else %>
              <i class="fa-regular fa-user"></i>
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul style="width: 120px" class="navbar-nav d-flex gap-3 align-items-center me-auto rounded-pill px-3 py-1">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
